@model IEnumerable<CloudTraceListener.TraceRecord>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logs</title>
</head>
<body>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Severity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TraceTimestamp)
            </th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Severity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TraceTimestamp)
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
